/* View Blog */
#bloghero.hero{
    padding-top: 2%;
    padding-bottom: 0;
}
#bloghero.hero:after{
    top: 17%;
}
.blogpage-hero {
    position: relative;
    overflow: hidden;
    padding-top: 142px;
    padding-bottom: 72px;
    letter-spacing: 1px;
    min-height: 100vh;
    width: auto;
}
.blogpage-hero.container {
    width: 992px;
}
.blog-view-card .card {
    padding: 16px;
    background: none;
    z-index: 1;
    text-align: start;
    border: none;
    padding-bottom: 0;
}
.blog-view-card .card .card-body{
    padding-bottom: 0;
}

.blog-cards .card-title {
    font-weight: 600;
    font-size: clamp(14px, 2vw, 24px);
    line-height: 28px;
    letter-spacing: normal;
    color: #FFFFFF;
}
.blog-cards .card-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    color: #97989F;
    text-decoration: none;
}
.blog-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;

}
.blog-cards .badge-secondary {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
}
.blog-view-card .badge {
    border-radius: 6px;
    gap: 4px;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    background: #4B6BFB0D;
}

.blog-view-card .badge-secondary {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
    background-color: #4B6BFB;
    color: #fff;
    text-decoration: none;
    padding: 6px 12px;
}

.blog-view-card .card-title {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: clamp(26px, 4vw, 36px);
    line-height: 40px;
    color: #fff;
}

.blog-view-card .card-link {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 12px;
    /*16px*/
    line-height: 24px;
    letter-spacing: normal;
    color: #97989F;
    text-decoration: none;
}

.blog-view-card .blog-img {
    /* width: 992px; */
    height: 359px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 6px;
}

.blog-view-card .blog-img img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-view-card .card-text {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: normal;
    color: #BABABF;
    margin-bottom: 32px;
    word-wrap: break-word;
}

.justify-text {
    text-align: justify;
}

.blog-view-card .card-body h1,
.blog-view-card .card-body h2,
.blog-view-card .card-body h3,
.blog-view-card .card-body h4,
.blog-view-card .card-body h5,
.blog-view-card .card-body h6 {
    margin-bottom: 16px;
}

/* Blog Explore List*/
.blogExplore .titleMain {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: clamp(34px, 4vw, 44px);
    line-height: 52px;
    letter-spacing: normal;
    text-align: left;
    color: #FFFFFF;
}

.blogExplore .subTitle {
    font-family: Barlow;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}