body {
  background-color: #00001A;
  color: #fff;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}

/* nav */
.navigation {
  background: var(--frame-surface-transparent-primary-30, #0000004D);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  z-index: 100;
  border-bottom: 1.5px solid rgba(1, 25, 40, 0.12);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.nav .nav-item {
  margin-left: 8px;
}

.nav .nav-item a {
  font-family: "Onest", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: -4%;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}

.textBlue {
  color: #7B9EFA !important;
}

.letter {
  display: inline-block;
  line-height: 1em;
}

.text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

/* hero  */
.hero {
  position: relative;
  overflow: hidden;
  padding-top: 325px;
  padding-bottom: 105px;
  height: 80vh;
}

.hero:after {
  content: '';
  position: absolute;
  transform: translate(50%, -50%);
  width: 568px;
  height: 568px;
  border-radius: 100%;
  top: 50%;
  right: 0;
  filter: blur(10px);
  background: radial-gradient(circle, rgba(104, 92, 163, 1) 0%, rgba(0, 0, 26, 1) 72%);
  backdrop-filter: blur(300px);
}

.hero p.lead {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.blueButton {
  height: 40px;
  padding: 8px 16px;
  display: flex;
  align-items: center; /* Vertical center */
  justify-content: center; /* Horizontal center */
}

.bi {
  vertical-align: -.125em;
  fill: #fff;
}
.btn {
  transition: 0.3s;
  position: relative;
}
.btn.connect svg {
  margin-left: 5px;
  display: none;
  width: 0;
  transition: 0.3s;
  position: absolute;
  right: 10px;
  opacity: 0;
}
.btn.connect:hover {
  padding-right: 45px;
  transition: 0.30s;
}
.btn.connect:hover svg {
  margin-left: 5px;
  display: block;
  width: 24px;
  opacity: 1;
  transition: 0.3s;
}
.caseStudyClose {
  width: 55%;
}
.caseStudyCta {
  width: 40%;
}

/* About */
.about {
  position: relative;
  overflow: hidden;
  background-color: #00001A;
  padding-top: 132px;
  padding-bottom: 156px;
}

.about:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -20%);
  height: 800px;
  width: 800px;
  border-radius: 100%;
  top: 50%;
  left: 0;
  filter: blur(10px);
  background: radial-gradient(circle, rgba(20, 52, 158, 1) 0%, rgba(0, 0, 26, 1) 72%);
  backdrop-filter: blur(300px);
}

.about h3 {
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 0px;
  text-align: center;
}

.about p {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  font-weight: 300;
}

/* Commitment */
.commitments {
  background-color: #fff;
  color: #00001A;
  padding-top: 128px;
  padding-bottom: 128px;
}

.commitments h2,
.commitments h3 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  color: #00001A;

  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
}

.commitments .counter {
  font-weight: 600;
  font-size: 75px;
  line-height: 80px;
  letter-spacing: -10%;
  color: rgba(123, 158, 250, 1);
  font-family: "Inter", serif;
  margin-bottom: 12px;
}

.commitments p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.commitments .commitmentsInfo {
  font-weight: 400;
  text-align: left;
}

.order-list {
  border: 5px solid #999;
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  height: 150px;
  line-height: 1;
  display: inline-block;
}

.order-list>li {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  padding: 0 15px;
  border-left: 1px solid black;
  position: relative;
  top: 0;
}

.order-list>li:first-child {
  border-left: 0;
}

/* mission */
.mission {
  position: relative;
  padding-top: 124px;
  padding-bottom: 300px;

}

.mission .missionImg {
  position: absolute;
  width: 50%;
  left: 0;
  top: 124px;
}

.mission .title {
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5px;
  color: rgba(136, 136, 136, 1);
  margin-left: 60px;
}

.mission h2 {
  margin-left: 60px;
}

.mission p {
  margin-left: 60px;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #fff;
  max-width: 90%;
}

.expertise .container {
  max-width: 980px;
}

/*  */
.titleMain {
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5px;
  color: rgba(136, 136, 136, 1);
  text-align: center;
}

.subTitle {
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}

.boxWhy {
  padding: 32px 25.5px;
  position: relative;
  border: 1px solid #FFFFFF4D;
  border-radius: 30px;
  background-color: transparent;
  /* background: linear-gradient(to right, #303146, #342769); */
  /* backdrop-filter: blur(250px); */
  overflow: hidden;
  transition: 1s;
  z-index: 1;
}

.boxWhy::after {
  content: "";
  width: 560px;
  height: 560px;
  top: 0;
  left: 0;
  border-radius: 30px;
  /* background-color: red; */
  background: rgb(52,39,105);
  background: radial-gradient(circle, rgba(52,39,105,1) 0%, rgba(161,103,0,0) 100%);
  /* background: linear-gradient(to right, #685CA3, #303146, #14349E); */
  position: absolute;
  z-index: -1;
  transition: 1s;
  /* transition: opacity 0.4s ease-in-out; */
}

.boxWhy:hover::after {
  transition: 1s;
  top: -320px;
  left: -250px;
}

/* why */
.why {
  padding-top: 156px;
  padding-bottom: 156px;
  position: relative;
  overflow: hidden;
}
.why:after {
  content: '';
  position: absolute;
  transform: translate(50%, -50%);
  width: 568px;
  height: 568px;
  border-radius: 100%;
  top: 50%;
  right: 0;
  filter: blur(10px);
  background: radial-gradient(circle, rgba(104, 92, 163, 1) 0%, rgba(0, 0, 26, 1) 72%);
  backdrop-filter: blur(300px);
}
.why .subTitle {
  margin-bottom: 90px;
}

.why .container .row {
  margin-left: -32px;
  margin-right: -32px;
}

.why .container .row>* {
  padding-left: 32px;
  padding-right: 32px;
}

.why .boxWhy h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 8px;
}

.why .boxWhy img {
  margin-bottom: 12px;
}

.why .boxWhy p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.why .container {
  max-width: 1076px;
}

/* why ends*/
.clientelWrap {
  margin-bottom: 236px;
  position: relative;
}
.clientelWrap:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -20%);
  height: 800px;
  width: 800px;
  border-radius: 100%;
  top: 50%;
  left: 0;
  filter: blur(10px);
  background: radial-gradient(circle, rgba(20, 52, 158, 1) 0%, rgba(0, 0, 26, 1) 72%);
  backdrop-filter: blur(300px);
}
.clientelWrap .container {
  max-width: 1280px;
  position: relative;
  z-index: 1;
}

.clientel {
  border-radius: 30px;
  padding: 32px;
}

.clientel .clientWrap {
  background: var(--frame-surface-transparent-blue-30, rgba(87, 131, 249, 0.4));
  padding: 32px 30px;
  border-radius: 32px;
}

.clientel .clientWrap .company {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin-bottom: 13px;
  height: 40px;
}

.clientel .clientWrap .company:after {
  content: '';
  border-bottom: 1px solid #fff;
  width: 100px;
  height: 40px;
  left: 0;
  bottom: 6px;
  position: absolute;
  display: block;
}

.clientel .clientWrap h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}

.clientel .clientWrap p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
.clientel .clientWrap .star {
  width: 130px;
  display: inline-block;
  background-image: url(../images/Shape.svg);
  background-repeat: no-repeat;
  height: 20px; 
  background-position: 0 6px;
}
.clientelWrap .slick-dots {
  margin: 0;
  padding: 0;
  text-align: center;
} 
.clientelWrap .slick-dots li {
  display: inline;
}
.clientelWrap .slick-dots li button {
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 15px;
  width: 15px;
  border: 0;
  font-size: 0;
  margin: 0 5px;
  opacity: 0.5;
}
.clientelWrap .slick-dots .slick-active button {
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 15px;
  width: 15px;
  border: 0;
  font-size: 0;
  opacity: 1;
}

/* the slides */
.clientel .slick-slide {
  margin: 0 8px;
}

/* the parent */
.clientel .slick-list {
  margin: 0 -8px;
}

/* Pre Footer */
/* Floating Circles */
.floating-circle {
  position: absolute;
  width: 800px;
  height: 846px;
  border-radius: 50%;
  filter: blur(300px);
}

/* Purple Circle - Top Left */
.purple-circle {
  background: rgba(104, 92, 163, 0.4);
  top: -140%;
  left: -20%;
}

/* Blue Circle - Bottom Right */
.blue-circle {
  background: rgba(20, 52, 158);
  bottom: -70%;
  right: -20%;
}

.preFooter .preFooterWrap {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.preFooter .lead {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;  
}

.preFooter .preFooterContent {
  background: var(--frame-surface-transparent-secondary-5, #FFFFFF0D);
  backdrop-filter: blur(200px);
  z-index: 2;
}


/* Footer */
.footer {
  background: #0000004D;
}

.footerLogo {
  width: 82px;
  height: auto;
}
.footerWrap h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.footerWrap p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

.footerWrap p.footerInfo {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #999999;
}

.followUs {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.footerWrap hr {
  background: #FFFFFF4D;
}

.footerBackLink {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  padding-bottom: 16px;
}

.footerAddress li {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  padding-bottom: 16px;
}

.footerWrap p.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

/* accordian */

/*slide styles !!!YOU NEED THEM */
.flexbox-slider {
  display: flex;
  width: 100%;
  height: 500px;
  visibility: hidden;
  margin-bottom: 24px;
}
.flexbox-slider .flexbox-slide {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
  width: 33.33%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  visibility: visible;
  margin: 0 12px;
}
.flexbox-slider .flexbox-slide img {
  opacity: 0.5;
}
.flexbox-slider .flexbox-slide h2 {
font-weight: 500;
font-size: 28px;
line-height: 32px;
letter-spacing: 0px;

}
.flexbox-slider .flexbox-slide:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  opacity: 0;
}
.flexbox-slider .flexbox-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  object-fit: cover;
}
.flexbox-slider .flexbox-slide .text-block {
  position: absolute;
  left: 30px;
  bottom: 30px;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  /* background-color: rgba(0, 0, 0, 0.6); */
  color: #fff;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
}
.flexbox-slider .flexbox-slide h2 {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 20px;
}
.flexbox-slider .flexbox-slide .text-block > h2 {
  font-size: 20px;
  font-weight: 700;
  position: static;
}
.flexbox-slider:hover .flexbox-slide:hover {
  flex-shrink: 0;
  width: 70%;
}
.flexbox-slider:hover .flexbox-slide:hover h2 {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
  bottom: 30px;
  opacity: 0;
  visibility: visible;
}

/* effect 1 styles */
.flexbox-slider.flexbox-slider-1 .flexbox-slide .text-block {
  bottom: 60px;
}
.flexbox-slider.flexbox-slider-1:hover .flexbox-slide:hover .text-block {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}